# Checkpoints
*.pth
*.ckpt 
# VSC & Py stuff
*.pyc
.vscode*
*.vscode
.vscode
__pycache__/

# Test / coverage artifacts
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Logs
lightning_logs/
lightning_logs/*
lightning_logs
wandb/
tmp/

# local folders
.crossnote
other/
trash/
logs/
SISR_WW/
data/SEN2NAIP_custom/
data/SEN2NAIP_custom/*

# files
playground.py

# stuff from docs
site/
.mkdocs/
.cache/